{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% load note_tag %}

{% block title %}Search{% endblock %}

{% block content %}
    {% if query %}
        <h1>notes containing "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
                Found {{ total_results }} result{{ total_results|pluralize }}
            {% endwith %}
        </h3>
        {% for note in results %}
            <h4><a href="{% url 'notes:note' note.slug %}">{{ note.title }}</a></h4>
            {{ note.text|markdown|truncatewords_html:5 }}
        {% empty %}
            <p>There are no results for your query.</p>
        {% endfor %}
        <p><a href="{% url "notes:note_search" %}">Search again</a></p>
    {% else %}
        <h1>Search for notes</h1>
        <form method="get" style="width: 50%">
            {{ form|crispy }}
            <input type="submit" value="Search">
        </form>
    {% endif %}
{% endblock %}