{% load static %}

<footer class="footer footer-basic">
    <div class="container">
        <div class="social">
            <a href="mailto: ilya.w.nesterov@gmail.com"><i class="icon ion bi-envelope "></i></a>
            <a href="https://github.com/Sakkadas"><i class="icon ion bi-github"></i></a>
            <a href="https://t.me/sakkadas"><i class="icon ion bi-telegram"></i></a>
            <a href="https://www.facebook.com/ilya.nesterov.39"><i class="icon ion bi-facebook"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="https://github.com/Sakkadas/Notes">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright"> Write your notes, share you thoughts.
            <br>
            Notes App © 2021
        </p>
    </div>
</footer>
