{% load static %}
<div class="container">
    <div class="banner-container">
        <img id="banner" class="img-fluid" style="width: 1000px" src="{% static 'img/banner_lamps.jpg' %}"/>
        {% if request.user.is_authenticated %}
        <div class="bar-greeting"> Welcome Back!
            <strong>{{ request.user|title }} </strong>
        </div>
        {% endif %}
        <div class="img-text-centered">
            <span class="motto">Write your notes, share you thoughts.</span>
            <div class="logo-banner-section" style="display: inline-block">
                <img width="100px" style="margin: -15px; padding-left: 20px" src="{% static 'img/Notes.svg' %}">
                <div style="float: right; padding-top: 15px"><span class="motto"> otes App</span></div>
            </div>
        </div>
    </div>
</div>