.content-section {
    background: #f2f2f2;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 0 1.0rem 1.5rem rgb(0 0 0 / 15%);
}


.article-title-top {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.common-header-section:after {
    content: '';
    display: table;
    clear: both;

}

.user-section-display-outer {
    float: left;
}

.date-and-category {
    float: right;
}

.thumbnail {
    width: 170px;
    height: 140px;
    float: right;
    border-radius: 15px 50px;
    box-shadow: 5px 5px 15px -8px rgb(9, 9, 9);
}


.badge {
    background-color: #5b80b2;
}

.links-likes:after {
    content: '';
    display: table;
    clear: both;
}

.links-likes .source {
    padding: 3px;
    float: left;
}

.links-likes .likes {
    padding: 3px;
    float: right;
}

.tags-indent-wrapper {
    margin: 5%;
}